# Connect to Spectrum DB
This is a quick introduction on how to leverage the SpectrumDB class to load information from our data base.

> All `get_x` functions contain a **`limit`** variable that's set to `100` per default. This might help with exploration in the beginning. Once you're done exploring, simply set `limit=None` in those functions.

**Requirements:**
* ``pip install sqlalchemy, psycopg2, pandas``

## Freestyle Method
In order to work with freestyle sql code, use `SpectrumDB.get_sql()`. Below is a simple example.

In [1]:
from spectrum_tools import db_connect

In [2]:
db = db_connect.SpectrumDB()

In [3]:
sql = """SELECT * FROM 
    feed_fetcher_feeditem T1 LIMIT 100
    """
articles = db.get_sql(sql)
articles.head()

,id,title,author,raw_description,publication_date,url,feed_id,image_url,content,description,raw_content,created_at,updated_at,frequency_dictionary,checked_for_associations,redirected_url,lookup_url
0,1365298,"Seeking to relaunch social agenda, UK's May to...",,LONDON (Reuters) - Ethnic minorities in Britai...,2017-10-09 21:35:29+00:00,http://feeds.reuters.com/~r/Reuters/worldNews/...,22,,LONDON (Reuters) - Ethnic minorities in Britai...,LONDON (Reuters) - Ethnic minorities in Britai...,"<div class=""ArticleBody_body_2ECha"" data-react...",2017-10-09 22:44:40.704252+00:00,2017-10-09 23:45:23.678078+00:00,"{''s': 6, 'uk': 6, 'add': 1, 'due': 1, 'jam': ...",True,http://www.reuters.com/article/us-britain-poli...,reuters.com/article/us-britain-politics-race/s...
1,122269,Britain First leader posts fake 'Paris celebra...,,Paul Golding tweeted a video this afternoon al...,2017-04-21 15:47:04+00:00,http://www.dailymail.co.uk/news/article-443301...,16,http://i.dailymail.co.uk/i/pix/2017/04/21/16/3...,The leader of Britain First has been slammed a...,Paul Golding tweeted a video this afternoon al...,"<p class=""mol-para-with-font"">The leader of Br...",2017-04-21 15:49:32.383732+00:00,2017-10-08 14:18:37.283110+00:00,"{''s': 6, 'mr': 6, ''oh': 2, ''re': 1, 'add': ...",True,http://www.dailymail.co.uk/news/article-443301...,dailymail.co.uk/news/article-4433010/Britain-l...
2,122270,Porn stars who've become preachers: Jenna Presley,,"Former US porn stars Crissy Outlaw, 41, and Br...",2017-04-21 15:46:19+00:00,http://www.dailymail.co.uk/news/article-443318...,16,http://i.dailymail.co.uk/i/pix/2017/04/12/22/3...,"At a fundraising event in California, Crissy O...","Former US porn stars Crissy Outlaw, 41, and Br...","<p class=""mol-para-with-font""></p> <p class=""m...",2017-04-21 15:49:32.429047+00:00,2017-10-08 14:18:37.324996+00:00,"{''d': 1, ''m': 2, ''s': 3, '``': 2, 'de': 3, ...",True,http://www.dailymail.co.uk/news/article-443318...,dailymail.co.uk/news/article-4433184/Porn-star...
3,1750747,Saakashvili refuses to give himself up in Ukraine,,The former president of Georgia who has become...,2017-12-06 09:04:28+00:00,http://feeds.foxnews.com/~r/foxnews/world/~3/n...,6,http://www.foxnews.com/content/dam/fox-news/im...,next \n \n \n \n \n Image 1 of 2 \n \n \n \n \...,The former president of Georgia who has become...,"<div class=""article-body"">\n\t\t\t\t\t\t\t\t\n...",2017-12-06 12:43:11.603853+00:00,2017-12-06 18:54:39.056321+00:00,"{''s': 5, 'wo': 5, 'n't': 5, 'say': 5, 'see': ...",True,http://www.foxnews.com/world/2017/12/06/saakas...,foxnews.com/world/2017/12/06/saakashvili-refus...
4,86186,Man getting lost Purple Heart 66 years after b...,,In a journey from celebration to sadness to ce...,2017-04-16 16:34:00+00:00,http://feeds.foxnews.com/~r/foxnews/national/~...,7,http://www.foxnews.com/content/dam/fox-news/im...,"BETHEL, Maine â€“ In a journey from celebratio...",In a journey from celebration to sadness to ce...,"<div class=""article-text"">\n \n \n ...",2017-04-16 17:06:11.492791+00:00,2017-10-08 14:21:58.408680+00:00,"{'''': 4, ''m': 1, ''s': 9, '``': 4, 'ii': 2, ...",True,http://www.foxnews.com/us/2017/04/16/man-getti...,foxnews.com/us/2017/04/16/man-getting-lost-pur...

## Publications
Helper method to gather all publications.

In [4]:
pubs = db.get_publications(limit=None)  # limit sets a limitation for sql commands
pubs.head()

,id,name,base_url,bias,created_at,updated_at,logo_url
0,9,Associated Press,hosted2.ap.org,C,2017-01-09 00:56:00+00:00,2017-05-26 09:11:37.432711+00:00,https://spectrum-backend.herokuapp.com/static/...
1,16,Breitbart News,breitbart.com,R,2017-04-10 08:12:00+00:00,2017-05-26 09:11:37.455222+00:00,https://spectrum-backend.herokuapp.com/static/...
2,10,Daily Mail,dailymail.co.uk,R,2017-01-09 00:56:00+00:00,2017-05-26 09:11:37.529839+00:00,https://spectrum-backend.herokuapp.com/static/...
3,13,Forbes,forbes.com,RC,2017-01-09 00:56:00+00:00,2017-05-26 09:11:37.573668+00:00,https://spectrum-backend.herokuapp.com/static/...
4,14,Fortune,fortune.com,RC,2017-01-09 00:56:00+00:00,2017-05-26 09:11:37.582465+00:00,https://spectrum-backend.herokuapp.com/static/...

## Associations

In [5]:
assoc = db.get_associations(limit=150)
assoc.head()

,id,associated_feed_item_id,base_feed_item_id,created_at,updated_at,similarity_score
0,106349408,1577826,1518147,2017-11-06 16:03:01.377579+00:00,2017-11-06 16:03:01.377645+00:00,0.364231
1,106349409,1518141,1577826,2017-11-06 16:03:01.404868+00:00,2017-11-06 16:03:01.404940+00:00,0.215583
2,106349410,1577826,1518141,2017-11-06 16:03:01.417340+00:00,2017-11-06 16:03:01.417391+00:00,0.215583
3,106349411,1518248,1577826,2017-11-06 16:03:01.437568+00:00,2017-11-06 16:03:01.437633+00:00,0.216213
4,106349412,1577826,1518248,2017-11-06 16:03:01.454142+00:00,2017-11-06 16:03:01.454209+00:00,0.216213

## Tags

In [6]:
tags = db.get_tags()
tags.head()

,id,name,feed_item_id,created_at,updated_at
0,10134,"Tillerson, Rex W",4492,2017-01-09 00:56:23.018221+00:00,2017-01-09 00:56:23.335671+00:00
1,10135,"Trump, Donald J",4492,2017-01-09 00:56:23.018221+00:00,2017-01-09 00:56:23.335671+00:00
2,10136,State Department,4492,2017-01-09 00:56:23.018221+00:00,2017-01-09 00:56:23.335671+00:00
3,10137,United States Politics and Government,4492,2017-01-09 00:56:23.018221+00:00,2017-01-09 00:56:23.335671+00:00
4,10138,Appointments and Executive Changes,4492,2017-01-09 00:56:23.018221+00:00,2017-01-09 00:56:23.335671+00:00

## Feed

In [7]:
feeds = db.get_feeds()
feeds.head()

,id,category,publication_id,created_at,updated_at,should_ignore
0,30,World,9,2017-01-14 00:51:00+00:00,2017-04-17 06:17:39.105068+00:00,False
1,14,Politics,9,2017-01-09 00:56:00+00:00,2017-04-17 06:17:39.118929+00:00,False
2,12,U.S.,9,2017-01-09 00:56:00+00:00,2017-04-17 06:17:39.132507+00:00,False
3,36,Politics,16,2017-04-10 08:15:00+00:00,2017-04-17 06:17:39.209151+00:00,False
4,29,World,6,2017-01-14 00:48:00+00:00,2017-04-17 06:17:39.355795+00:00,False

## FeedItems

In [8]:
#feed_items = db.get_last_feed_items()  # of last 8 weeks - takes a while with amazon ec2 instance

# Challenge Items

## Corpus of articles tagged with publication biases

In [9]:
# Calls 100 rows only - change (or delete) limit to get more
sql = """SELECT T1.*, T3.bias FROM 
    feed_fetcher_feeditem T1
    JOIN feed_fetcher_feed T2 
      ON T1.feed_id = T2.id
    JOIN feed_fetcher_publication T3
      ON T2.publication_id = T3.id
    LIMIT 100
      """
pub_bias = db.get_sql(sql)
pub_bias.head()

,id,title,author,raw_description,publication_date,url,feed_id,image_url,content,description,raw_content,created_at,updated_at,frequency_dictionary,checked_for_associations,redirected_url,lookup_url,bias
0,1365298,"Seeking to relaunch social agenda, UK's May to...",,LONDON (Reuters) - Ethnic minorities in Britai...,2017-10-09 21:35:29+00:00,http://feeds.reuters.com/~r/Reuters/worldNews/...,22,,LONDON (Reuters) - Ethnic minorities in Britai...,LONDON (Reuters) - Ethnic minorities in Britai...,"<div class=""ArticleBody_body_2ECha"" data-react...",2017-10-09 22:44:40.704252+00:00,2017-10-09 23:45:23.678078+00:00,"{''s': 6, 'uk': 6, 'add': 1, 'due': 1, 'jam': ...",True,http://www.reuters.com/article/us-britain-poli...,reuters.com/article/us-britain-politics-race/s...,C
1,122269,Britain First leader posts fake 'Paris celebra...,,Paul Golding tweeted a video this afternoon al...,2017-04-21 15:47:04+00:00,http://www.dailymail.co.uk/news/article-443301...,16,http://i.dailymail.co.uk/i/pix/2017/04/21/16/3...,The leader of Britain First has been slammed a...,Paul Golding tweeted a video this afternoon al...,"<p class=""mol-para-with-font"">The leader of Br...",2017-04-21 15:49:32.383732+00:00,2017-10-08 14:18:37.283110+00:00,"{''s': 6, 'mr': 6, ''oh': 2, ''re': 1, 'add': ...",True,http://www.dailymail.co.uk/news/article-443301...,dailymail.co.uk/news/article-4433010/Britain-l...,R
2,122270,Porn stars who've become preachers: Jenna Presley,,"Former US porn stars Crissy Outlaw, 41, and Br...",2017-04-21 15:46:19+00:00,http://www.dailymail.co.uk/news/article-443318...,16,http://i.dailymail.co.uk/i/pix/2017/04/12/22/3...,"At a fundraising event in California, Crissy O...","Former US porn stars Crissy Outlaw, 41, and Br...","<p class=""mol-para-with-font""></p> <p class=""m...",2017-04-21 15:49:32.429047+00:00,2017-10-08 14:18:37.324996+00:00,"{''d': 1, ''m': 2, ''s': 3, '``': 2, 'de': 3, ...",True,http://www.dailymail.co.uk/news/article-443318...,dailymail.co.uk/news/article-4433184/Porn-star...,R
3,1750747,Saakashvili refuses to give himself up in Ukraine,,The former president of Georgia who has become...,2017-12-06 09:04:28+00:00,http://feeds.foxnews.com/~r/foxnews/world/~3/n...,6,http://www.foxnews.com/content/dam/fox-news/im...,next \n \n \n \n \n Image 1 of 2 \n \n \n \n \...,The former president of Georgia who has become...,"<div class=""article-body"">\n\t\t\t\t\t\t\t\t\n...",2017-12-06 12:43:11.603853+00:00,2017-12-06 18:54:39.056321+00:00,"{''s': 5, 'wo': 5, 'n't': 5, 'say': 5, 'see': ...",True,http://www.foxnews.com/world/2017/12/06/saakas...,foxnews.com/world/2017/12/06/saakashvili-refus...,R
4,86186,Man getting lost Purple Heart 66 years after b...,,In a journey from celebration to sadness to ce...,2017-04-16 16:34:00+00:00,http://feeds.foxnews.com/~r/foxnews/national/~...,7,http://www.foxnews.com/content/dam/fox-news/im...,"BETHEL, Maine â€“ In a journey from celebratio...",In a journey from celebration to sadness to ce...,"<div class=""article-text"">\n \n \n ...",2017-04-16 17:06:11.492791+00:00,2017-10-08 14:21:58.408680+00:00,"{'''': 4, ''m': 1, ''s': 9, '``': 4, 'ii': 2, ...",True,http://www.foxnews.com/us/2017/04/16/man-getti...,foxnews.com/us/2017/04/16/man-getting-lost-pur...,R

## Endpoint for articles (authors tagged), either by pub or by reporter

### Fetching articles with authors

In [10]:
# Calls 100 rows only - change (or delete) limit to get more
sql = """SELECT * FROM 
    feed_fetcher_feeditem T1
      WHERE T1.author != ''
    LIMIT 100
      """
authors = db.get_sql(sql)

In [11]:
authors.head()

,id,title,author,raw_description,publication_date,url,feed_id,image_url,content,description,raw_content,created_at,updated_at,frequency_dictionary,checked_for_associations,redirected_url,lookup_url
0,169015,North Korea â€˜bombsâ€™ White House in new propaga...,Newsweek,North Korea has released a new propaganda vide...,2017-04-29 12:57:18+00:00,http://www.rawstory.com/2017/04/north-korea-bo...,307,,,North Korea has released a new propaganda vide...,,2017-04-29 13:01:34.405716+00:00,2017-11-27 07:55:01.032265+00:00,{},False,http://www.rawstory.com/2017/04/north-korea-bo...,rawstory.com/2017/04/north-korea-bombs-white-h...
1,1365348,Harry Winks confident he could justify place i...,Jamie Jackson,â€¢ Harry Winks played all of 1-0 win against Li...,2017-10-09 21:30:30+00:00,https://www.theguardian.com/football/2017/oct/...,323,https://i.guim.co.uk/img/media/f47c3ecb84d7232...,Harry Winks has no doubt he could perform for ...,â€¢ Harry Winks played all of 1-0 win against Li...,"<div class=""content__article-body from-content...",2017-10-09 22:45:20.284357+00:00,2017-10-10 11:59:50.897149+00:00,"{'do': 1, 'go': 3, 'st': 1, '...': 3, '1-0': 1...",True,https://www.theguardian.com/football/2017/oct/...,theguardian.com/football/2017/oct/09/harry-win...
2,150252,Trumpâ€™s tweets and regular trips to Mar-A-Lago...,Travis Gettys,President Donald Trump and his family&#8217;s ...,2017-04-27 11:49:25+00:00,http://www.rawstory.com/2017/04/trumps-tweets-...,307,,,President Donald Trump and his familyâ€™s travel...,,2017-04-27 12:04:56.645927+00:00,2017-11-27 07:55:03.208345+00:00,{},False,http://www.rawstory.com/2017/04/trumps-tweets-...,rawstory.com/2017/04/trumps-tweets-and-regular...
3,119214,"EU eyes years of Brexit payments, immigration:...",Reuters News,By Alastair Macdonald and Jan Strupczewski ...,2017-04-20 19:36:22+00:00,https://townhall.com/news/world/2017/04/20/eu-...,335,,,Britain will be paying off obligations to Brus...,,2017-04-20 20:07:57.646338+00:00,2017-11-27 08:00:38.427597+00:00,{},False,https://townhall.com/news/world/2017/04/20/eu-...,townhall.com/news/world/2017/04/20/eu-eyes-yea...
4,1700783,Backpackers,Fusion,U.S. Border Patrol watches over one of the mos...,2017-11-30 21:49:18+00:00,http://fusion.net/video/580916/backpackers/,127,,,U.S. Border Patrol watches over one of the mos...,,2017-11-30 22:45:21.167236+00:00,2017-12-07 08:25:07.383913+00:00,{},False,https://fusion.net/video/580916/backpackers/,fusion.net/video/580916/backpackers

#### Simple aggregate

In [12]:
# Calls 100 rows only - change (or delete) limit to get more
sql = """SELECT T1.author, COUNT(*) FROM 
    feed_fetcher_feeditem T1
      WHERE T1.author != ''
      GROUP BY T1.author
    LIMIT 100
      """
authors_count = db.get_sql(sql)

In [13]:
authors_count.sort_values('count', ascending=False).head()

                                        author  count
54  Brandt Ranj (feedback@businessinsider.com)    334
18                               Jessica Elgot     88
12                              Tom Odulaâ€‰|â€‰AP     40
4              rss@dailykos.com (David Jarman)     11
0                             Todd Pitmanâ€‰|â€‰AP     10

### Fetching articles by publication

In [14]:
sql = """
    SELECT * FROM
    feed_fetcher_feeditem T1
    JOIN feed_fetcher_feed T2
        ON T1.feed_id = T2.id
    JOIN feed_fetcher_publication T3
        ON T2.publication_id = T3.id
    WHERE T3.name = 'Fox News'
    LIMIT 100
      """
articles_by_pub = db.get_sql(sql)

In [15]:
articles_by_pub.head()

,id,title,author,raw_description,publication_date,url,feed_id,image_url,content,description,...,created_at,updated_at,should_ignore,id,name,base_url,bias,created_at,updated_at,logo_url
0,117480,Moldovan businessman sentenced for role in $1 ...,,A court has sentenced a Moldovan businessman a...,2017-04-20 13:44:59+00:00,http://feeds.foxnews.com/~r/foxnews/world/~3/1...,6,,"CHISINAU, Moldova â€“ A court has sentenced a ...",A court has sentenced a Moldovan businessman a...,...,2017-04-20 14:16:10.302078+00:00,2017-10-08 14:19:30.543553+00:00,False,3,Fox News,foxnews.com,R,2017-04-20 14:16:10.302078+00:00,2017-10-08 14:19:30.543553+00:00,https://spectrum-backend.herokuapp.com/static/...
1,126954,AP Explains: How Kenya's drought has turned in...,,The shooting of a novelist and conservationist...,2017-04-23 17:33:05+00:00,http://feeds.foxnews.com/~r/foxnews/world/~3/s...,6,,"NAIROBI, Kenya â€“ The shooting of a novelist ...",The shooting of a novelist and conservationist...,...,2017-04-23 18:03:04.731745+00:00,2017-10-08 14:17:41.759648+00:00,False,3,Fox News,foxnews.com,R,2017-04-23 18:03:04.731745+00:00,2017-10-08 14:17:41.759648+00:00,https://spectrum-backend.herokuapp.com/static/...
2,116230,"VP Pence praises Indonesia's democratic, toler...",,Vice President Mike Pence praised Indonesia's ...,2017-04-20 05:14:48+00:00,http://feeds.foxnews.com/~r/foxnews/world/~3/i...,6,,"JAKARTA, Indonesia â€“ Vice President Mike Pen...",Vice President Mike Pence praised Indonesia's ...,...,2017-04-20 05:49:30.193963+00:00,2017-10-08 14:19:45.819583+00:00,False,3,Fox News,foxnews.com,R,2017-04-20 05:49:30.193963+00:00,2017-10-08 14:19:45.819583+00:00,https://spectrum-backend.herokuapp.com/static/...
3,149084,Suspected radical Islamist wounds two officers...,,Officials say a man suspected of links to radi...,2017-04-27 08:52:00+00:00,http://feeds.foxnews.com/~r/foxnews/world/~3/O...,6,,PARIS â€“ Officials say a man suspected of lin...,Officials say a man suspected of links to radi...,...,2017-04-27 09:09:40.467667+00:00,2017-10-08 14:15:13.309581+00:00,False,3,Fox News,foxnews.com,R,2017-04-27 09:09:40.467667+00:00,2017-10-08 14:15:13.309581+00:00,https://spectrum-backend.herokuapp.com/static/...
4,81757,Lebanon's president adjourns Parliament for 1 ...,,Lebanese President Michel Aoun says he is invo...,2017-04-12 17:36:55+00:00,http://feeds.foxnews.com/~r/foxnews/world/~3/P...,6,,BEIRUT â€“ Lebanese President Michel Aoun says...,Lebanese President Michel Aoun says he is invo...,...,2017-04-12 17:55:33.405394+00:00,2017-10-08 14:22:55.601872+00:00,False,3,Fox News,foxnews.com,R,2017-04-12 17:55:33.405394+00:00,2017-10-08 14:22:55.601872+00:00,https://spectrum-backend.herokuapp.com/static/...

#### Pandas way

In [18]:
pubs = db.get_publications()
feeds = db.get_feeds()

In [19]:
feeds.head()

,id,category,publication_id,created_at,updated_at,should_ignore
0,30,World,9,2017-01-14 00:51:00+00:00,2017-04-17 06:17:39.105068+00:00,False
1,14,Politics,9,2017-01-09 00:56:00+00:00,2017-04-17 06:17:39.118929+00:00,False
2,12,U.S.,9,2017-01-09 00:56:00+00:00,2017-04-17 06:17:39.132507+00:00,False
3,36,Politics,16,2017-04-10 08:15:00+00:00,2017-04-17 06:17:39.209151+00:00,False
4,29,World,6,2017-01-14 00:48:00+00:00,2017-04-17 06:17:39.355795+00:00,False

In [20]:
# pandas way
feed_ids = feeds[feeds['publication_id'] == pubs[pubs['name'] == 'Fox News'].id.values[0]]['id']
print(feed_ids) # these can be used as indices for feeds_items

9      6
10     5
28    92
64     7
Name: id, dtype: int64